build/
src/eruption/hydro/obj/
src/eruption/eos/obj/
src/eruption/hydro/eruptPara.d
src/eruption/hydro/inclmn.f
src/eruption/eos/obj/
input/mesa_models_*/*.data
input/abundance/abundance_for_tablegen.txt
EruptionFiles/
LCFiles/
params/
eruption
**/__pycache__
**/.DS_Store
